.cardStackContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    position: absolute;
    border-radius: .3rem;
    padding: 3rem 1rem;
    border: 1px solid #747474;
    font-size: 1.5rem;
    background-image: radial-gradient(circle 588px at 31.7% 40.2%, rgba(225, 200, 239, 1) 21.4%, rgba(163, 225, 233, 1) 57.1%);
}

.moodRatingButtonsContainer {
    display: flex;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    padding-top: 1.5rem;
}

.lastAttemptsTitle {
    font-size: 1rem;
    padding-bottom: .5rem;
}

.resultBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border: 1px solid transparent;
    cursor: pointer;
    transition: .3s ease;
    font-size: 1rem;
    max-width: 300px;
    margin: auto;
}

.resultBtn:hover {
    border: 1px solid gray;
}

.resultIcon {
    width: 2rem;
}

.resultBtnText {
    padding-left: 1rem;
}

.moodIcon {
    padding-left: 1rem;
    max-width: 50px;
    opacity: .5;
    transition: .2s ease;
}

.moodIcon:first-child {
    padding-left: 0;
}

.moodIcon:hover {
    opacity: 1;
    cursor: pointer;
}

.lastAttemptsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.lastAttempts, .startQuizButton {
    background: #ffffff42;
    border-radius: .3rem;
    padding: .5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #747474;
}

.startQuizButton {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
    background: #3e3e3e99;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .9s ease;
}

.startQuizText {
    width: 100%;
    text-align: center;
    color: white;
}

.playQuizIcon {
    max-width: 50%;
}

.startQuizButton:hover {
    background-image: linear-gradient(
            225deg, #ff63bc 1%, #573875 53%, #2B86C5 100%);
    border: 1px solid #b4b4b4;
}

.attempt {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.loader {
    padding-left: 1rem;
}